@import '../../../assets/styles/variables';

.slider {
  @apply relative mx-auto;
  max-width: 1200px;

  .slide {
    @apply relative rounded-3xl overflow-hidden shadow-xl flex;
    height: 50vh;
    min-height: 500px;
    @include fade-bg-gradient();

    .image {
      @apply image-like-bg;
    }

    .video {
      @apply image-like-bg absolute;
      top: -4.75rem;
    }

    .volume {
      @apply absolute h-10 w-10 top-5 right-5 z-50 hover:cursor-pointer block;

    }
    .dioLine{
      @apply absolute h-10 w-10 top-5 right-5 z-50 hover:cursor-pointer block opacity-100 transition-opacity;
      background-image: linear-gradient(to bottom right, transparent 45%, #E30B13, transparent 54%);
      background-repeat: no-repeat;
      font-size: 50px;
      text-align: center;
      color: #ffff00;
    }
    .visible{
      @apply opacity-0;
    }

    .content {
      @apply relative z-2 p-8;

      .heading {
        @apply text-white uppercase text-5xl font-semibold mb-1 text-shadow;
      }

      .subHeading {
        @apply text-gray-300 font-medium uppercase mb-4 text-shadow;
      }

      .button {
        @apply btn-primary p-2 px-10;
      }
    }
  }
}
